@import "colorsConstants";

.TopBarNavigation {
    ul {
        display: flex;
        flex: 0.05;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: $primary;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
        font-size: medium;
    }

    li a:hover {
        background-color: $primaryHover;
        cursor: pointer;
    }
}
